.about-us {
    display: grid;
    min-height: 530px;
    background-color: #0081ff;

    &__container {
        max-width: $maxWidth;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        align-self: center;

        @include media-desktop {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 130px;
        }
    }

    &__wrapper {
        padding: 0 10px;
        color: #fff;

        @include media-large-desktop {
            padding: 0;
        }
    }

    &__title {
        font-family: "Leckerli One";
        font-size: 24px;
        font-weight: 400;

        @include media-tablet {
            font-size: 34px;
        }
    }

    &__subtitle {
        color: #fff;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        margin: 40px 0 20px;
    }

    &__text {
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin: 20px 0;

        @include media-desktop {
            margin: 30px 0 60px;
        }
    }

    &__button {
        width: 129px;
        height: 36px;
        background-color: #3b4374;
        color: #fff;
        font-family: Lato;
        border: none;
        border-radius: 20px;
        font-size: 16px;
    }
}