.blog {

    &__container {
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 0 10px;

        @include media-desktop {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 30px;
            margin: 100px auto;
        }

        @include media-large-desktop {
            padding: 0;
        }
    }

    &__wrapper {
        margin: 50px 0;
        padding: 20px;
        text-align: center;
        font-family: 'Lato';
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-desktop {
            margin: 0;
        }
    }

    &__content-wrapper {
        color: #000;
        grid-area: 1 / 1 / 2 / 3;
        text-align: left;
    }

    &__title {
        font-family: "Leckerli One";
        font-size: 24px;

        @include media-tablet {
            font-size: 34px;
        }
    }

    &__subtitle {
        font-family: "Montserrat";
        font-size: 25px;
        font-weight: 700;
        margin: 20px 0;

        @include media-tablet {
            font-size: 35px;
        }
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        margin: 40px 0;
    }

    &__blue-wrapper {
        background-color: #007ef9;
        grid-area: 2 / 1 / 3 / 3;
    }

    &__gray-wrapper {
        background-color: #b9b8b8;
        color: #000;
        grid-area: 3 / 1 / 4 / 2;

    }

    &__black-wrapper {
        background-color: #000;
        grid-area: 3 / 2 / 4 / 3;

    }

    &__black-big-wrapper {
        background: url('../image/bgc.png') no-repeat;
        background-size: cover;
        background-position: center;
        grid-area: 1 / 3 / 3 / 4;


    }

    &__pink-wrapper {
        background-color: #e91d62;
        grid-area: 3 / 3 / 4 / 4;

    }
}