.services {
    background-color: #007af3;
    padding: 100px 0;

    &__container {
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 0 10px;

        @include media-desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 80px;

        }

        @include media-large-desktop {
            padding: 0;
        }
    }

    &__header {
        text-align: center;
        grid-area: 1 / 1 / 1 / 4;
    }

    &__title {
        color: #fff;
        font-family: "Leckerli One";
        font-size: 24px;

        @include media-tablet {
            font-size: 34px;
        }
    }

    &__subtitle {
        color: #fff;
        font-family: "Montserrat";
        font-size: 25px;

        @include media-tablet {
            font-size: 35px;
        }
    }

    &__wrapper {
        margin: 30px 0;
        color: #fff;
        font-family: 'Lato';
        line-height: 24px;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 55px 1fr;
        grid-gap: 35px;
        text-align: left;
        padding: 50px 0;


        @include media-desktop {
            margin: 0;
        }
    }


    &__text {
        font-weight: 800;
        text-transform: uppercase;
    }

    &__description {
        grid-area: 2 / 2 / 3 / 3;

    }
}