.services {
    background-color: #007af3;
    min-height: 640px;
    display: grid;

    &__container {
        max-width: $maxWidth;
        margin: 0 auto;
        align-self: center;
        padding: 0 10px;

        @include media-desktop {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 80px;
            grid-row-gap: 80px;

        }

        @include media-large-desktop {
            padding: 0;
        }
    }

    &__header {
        text-align: center;

        @include media-desktop {
            grid-column-start: 1;
            grid-column-end: 4;
            align-self: center;
        }
    }

    &__title {
        color: #fff;
        font-family: "Leckerli One";
        font-size: 24px;

        @include media-tablet {
            font-size: 34px;
        }
    }

    &__subtitle {
        color: #fff;
        font-family: "Montserrat - Black";
        font-size: 25px;

        @include media-tablet {
            font-size: 35px;
        }
    }

    &__wrapper {
        margin: 30px 0;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 55px 1fr;
        grid-column-gap: 35px;
        grid-row-gap: 35px;
        color: #fff;
        font-family: Lato;
        line-height: 24px;


        @include media-desktop {
            margin: 0;
        }
    }

    &__text {
        font-weight: 800;
        text-transform: uppercase;
        max-width: 245px;
    }

    &__description {
        grid-column-start: 2;
        grid-column-end: 3;
    }











}